*{
    margin:0px;
    padding:0px;
    background-color:#fff
}

html{
    width:100%;
    height:100%;
}

body{
    min-width: 412px;  
    width:70%;
    margin:auto;
    font-family:Tahoma;
    font-size:11px;
    color:#000;
    position:relative;

}

#header{
    position: relative;
    right: 93px;
    padding:0px 0 0 47px;
}

#title{
    font-family:fantasy;
    font-size:40px;
    color:#777;
    text-decoration:none
}


#menu{
    float:left;
    width:985px;
    list-style-type:none;
    padding:0px;
    margin:12px 0 12px -47px;
    / margin:-5px 0 6px -23px;
}

#menu li, #menu img{
    float:left;
}

#nav li
{
    font-size: 20px;
    list-style-type: none;
    margin: 0 0 10px 40px;
    float: left;
    position: relative;
    width: 120px;
    height: 25px;

}

#nav a
{
    color: #8f2f2f;
    text-decoration: none;
}

#nav a:hover
{
    color: #af4f4f;
}

#container {
    padding-left: 172px; 
    padding-right: 238px;
    height:100%
}

#container .column {
    position: relative;
    float: left;
}

#center{
    width: 100%;
    position:relative;
    / border-left:1px solid white
}


.banner.relative{
    margin:0 2px 0 1px;
    float:left
}

#content{
    padding:18px 10px 30px 21px;
    float:left;
    background-color:#ffffff;
}

#contentItem{
    padding:18px 300px 30px 21px;
    float:left;
    background-color:#ffffff;
}

#center a{
    font-size:20px;
    color: #8f2f2f;
    background-color: #ffffff;
    text-decoration:none
}
#content p{
    font-size:15px;
    padding:3px 0 0 5px;
    margin:0px;
    color: #000000;
    background-color:#ffffff;
}

#cart{
    background-color: #ffffff;
}

.pad25{
    padding-top:25px;
}

.stuff{
    margin:25px 0 0 0;
    float:left;
    background-color:#ffffff;
}

.item{
    width:270px;
    float:left;
    margin:0 0 5px 0;
    background-color:#ffffff;
}

.item img{
    float:left;
    background-color:#ffffff;
}

.name{
    font-family:Tahoma;
    font-size:12px;
    color:#000000;
    text-decoration:underline;
    font-weight:bold;
    margin:15px 0 0 5px;
    float:left;
    background-color:#ffffff;
}

.item span{
    color:#E27C0E;
    font-weight:bold;
    font-size:12px;
    display:block;
    width:140px;
    float:left;
    padding:7px 0 12px 5px;
    background-color:#ffffff;
}

.name:visited, .reg:visited, .more:visited{text-decoration:underline}

.name:hover, .reg:hover, .more:hover{text-decoration:none}

#left {
    background-color: white;
    width: 172px;
    right: 172px;   
    margin-left: -100%;
    / left: 238px;
    font-size:18px;
}

.block{
    width:168px;
    padding:1px 1px 1px 1px;
    margin-bottom:4px;
}
#navigation{
    width:168px;
    margin:0px;
    padding:0px;
}

#navigation li{
    list-style-type:none;
    line-height:30px;
    padding:0 40px 0 13px;
    background-color:#ffffff
}

#navigation a{
color:#565656;
text-decoration:none;
background-color:#ffffff;
}

#cart{
    width:300px;
    margin:0px;
    padding:0px;
}

#cart li{
    list-style-type:none;
    line-height:30px;
    padding:0 40px 0 20px;
    background-color:#ffffff
}

#cart a{
color:#565656;
text-decoration:none;
background-color:#ffffff;
}

.color{background-color:#FF0000}
#right {
width: 238px;   
margin-right: -238px;
}

.rightblock{
padding:0 0 0 14px
}

.blocks{
width:218px;
background-image:url(images/bg.gif);
background-position:top left;
background-repeat:repeat-y;
margin:0 0 2px 0
}

.login{
width:218px;
margin:0 0 2px 0
}

.line{
display:block;
float:left;
line-height:19px;
padding:5px 0 0 0;
margin:0px;
}

.blocks span{
font-size:11px;
font-weight:bold;
display:block;
float:left;
width:68px;
text-align:right;
padding:0 7px 0 0 
}

.blocks input{
width:130px;
height:15px;
float:left;
border-top:2px inset #808080;
border-left:2px inset #808080;
border-right:1px solid #CDCDCD;
border-bottom:1px solid #CDCDCD
}

#news{
padding:0 5px 25px 13px;
float:left;
}

#right .date{
display:block;
width:100px;
line-height:19px;
margin:11px 0 12px 0;
text-align:center;
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#272727;
background-image:url(images/date.gif);
background-position:top left;
background-repeat:no-repeat;
}

#news p{
display:block;
float:left;
width:195px;
}

.more{
display:block;
float:left;
color:#0283DD;
text-decoration:underline;
margin:15px 0 0 0
}

.reg{
color:#0283DD;
text-decoration:underline;
margin:0 11px;
}

.center{
width:218px;
text-align:center
}

.pad20 img{
margin-top:15px;
}

#footer {
clear: both;
border-top:3px solid #B7C1C4;
padding:8px 0 17px 0;
text-align:center;
color:#323232
}

#footer a{
color:#323232;
text-decoration:none;
margin:0 3px;
}

#footer .terms{
color:#0283DD
}

#footer p{
padding:10px 0 0 0
}

#footer #bft{
color:#8E190B;
text-decoration:underline;
margin:0px
}

#footer #bft:visited{text-decoration:underline}
#footer #bft:hover{text-decoration:none}
.float{
float:left;
margin-right:164px;
}




.shopping{
float:left;
padding:3px 12px 0 0
}


.tree{
width:100%;
height:20px;
border-bottom:1px solid #BABABA;
padding:0 0 3px 0;
}

.tree a{
color:#4A4A4A;
text-decoration:underline
}

.tree a:visited{text-decoration:underline}
.tree a:hover{text-decoration:none}
.photos{
width:227px;
float:left;
padding:25px 17px 0 0
}

.moreph{
display:block;
background-image:url(images/morebg.gif);
background-position:top left;
background-repeat:no-repeat;
width:92px;
line-height:17px;
color:#FFF;
text-decoration:none;
padding:0 0 0 14px;
margin:0 0 20px 18px
}

.comments{
background-image:url(images/bulb.jpg);
background-position:top left;
background-repeat:no-repeat;
padding:0 0 5px 29px;
margin:0 0 0 18px;
color:#0283DD;
line-height:25px;
text-decoration:underline
}

.comments:visited{text-decoration:underline}
.comments:hover{text-decoration:none}
.description{
width:253px;
float:left;
padding:25px 0 0 17px;
position:relative
}

#about .description p{
padding:0 0 15px 0;
}

.description u{
font-size:12px;
color:#4A4A4A;
font-weight:bold
}

.price{
position:absolute;
top:28px;
right:0px;
color:#E27C0E;
font-size:12px;
font-weight:bold
}

#features li{
list-style-type:none;
line-height:17px;
padding:0 0 0 7px;
width:180px;
}

#features span{
width:150px;
display:block;
float:left;
}

#about button{
background-image:url(images/add.gif);
background-position:top left;
background-repeat:no-repeat;
border:0px;
float:left;
font-weight:bold;
width:104px;
font-family:Tahoma;
font-size:11px;
color:#5B5B5B;
margin:21px 3px 0 0;
padding:4px 0 6px 0 
}

.carts{
padding:21px 0 0 0;
float:left
}

.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}

#cartbox {
    width: 150px;
    padding: 17px 23px 35px 23px;
    border: 5px solid grey;
    margin: 10px 0 50px 0;
}

#cartbox li{
    list-style-type:none;
}

#cartbox a{
    text-decoration: none;
    color: #8f2f2f
}

#cartpage {
    padding: 17px 23px 35px 23px;
    border: 5px solid grey;
    margin: 10px 0 50px 0;
}

#cartpage li{
    list-style-type:none;
}

#cartpage a{
    text-decoration: none;
    color: #8f2f2f
}

#ctext {
    width: 500px;
    padding: 17px 23px 35px 23px;
    border: 5px;
    margin: 10px 0 50px 0;
}

#contact {
    width: 170px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px;
}

#message{
    width:400px;
    margin:0px;
    padding:0px;
}

#message li{
    float: left;
    list-style-type:none;
 
}

#deliveries{
    width:400px;
    margin:0px;
    padding:0px;
}

#deliveries li{
    float: left;
    list-style-type:none;
    
